.App {
	min-width: 100vw;
	min-height: 100vh;
	font-family: Oswald;
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	color: #fff;
	background-color: #000;
	font-weight: bold;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item::after {
	bottom: 10px;
	border-bottom-width: 1px;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after {
	border-bottom: 1px solid #e84c4c;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after {
	border-bottom: 1px solid #e84c4c;
}

.header-shop-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.content-container {
	padding: 20px 30px;
}